# Littlehorse configuration
LHC_API_HOST=localhost
LHC_API_PORT=2023

LHD_OAUTH_ENABLED=false
LHS_CA_CERT=

# Next-Auth configuration
# LHD_OAUTH_ENCRYPT_SECRET=
# LHD_OAUTH_CALLBACK_URL=

# Keycloak
# LHD_OAUTH_CLIENT_ID=
# LHD_OAUTH_CLIENT_SECRET=
# LHD_OAUTH_ISSUER_URI=
